<div class="overlay">
  <div class="form-container">
    <h2>{{ isEdit ? "Edit Lesson" : "Add Lesson" }}</h2>
    <form [formGroup]="lessonForm" (ngSubmit)="onSubmit()">
    
        <mat-form-field appearance="fill">
          <mat-label>Lesson Title</mat-label>
          <input matInput formControlName="title" />
          @if(lessonForm.get('title')?.invalid
          &&lessonForm.get('title')?.touched){
          <mat-error> Title is required. </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Lesson Content</mat-label>
          <textarea matInput formControlName="content"></textarea>
          @if(lessonForm.get('content')?.invalid
          &&lessonForm.get('content')?.touched){
          <mat-error> Content is required. </mat-error>
          }
        </mat-form-field>
    
      <div class="actions">
        <button
          mat-raised-button
          [appButtonStyle]="'primary'" 
          type="submit"
          [disabled]="lessonForm.invalid"
        >
          {{ isEdit ? "Save Changes" : "Add Lesson" }}
        </button>
        <button mat-raised-button [appButtonStyle]="'warn'" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
