
 
   .form-container {
    background-color: white;
    padding: 20px;

    max-width: 600px;
    width: 100%;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column; /* סידור השדות בעמודה */
    gap: 20px; /* רווח בין השדות */
  }

  mat-form-field {
    width: 100%; 
  }
  