
<div class="container">
  <div class="courses-list">
    <h1>📘 All Courses</h1>
    @if(role === 'admin' || role === 'teacher'){
      <button
      mat-raised-button
      color="primary"
      (click)="AddCourse()"
      class="add-course-button"
    >
      Add Course
    </button>
    }
 
    @for(c of courses ; track c.id){
    <div>
      <app-course
        [course]="c"
        [role]="role"
        [isMyCourse]="false"
        (delete)="DeleteCourse($event)"
        (edit)="EditCourse($event)"
        (view)="viewLessons($event)"
      >
      </app-course>
    </div>
    }@empty {
    <div class="no-courses">No courses available</div>
    }
  </div>

  <div class="course-details">
    <router-outlet></router-outlet>
  </div>
</div>
@if(isAddCourse ||isEditCourse ){
  <div  class="overlay">
    <app-course-form
      [course]="selectedCourse"
      (closeForm)="closeForm()"
      [isEdit]="isEditCourse"
      [teacherId]="userId"
    >
    </app-course-form>
  </div>
}

