<div class="container">
  <div class="courses-list">
    @for(c of courses ; track c.id) {

    <app-course [course]="c">
      <div ngProjectAs="actions">
        @if (role == 'admin'|| role == 'teacher') {
        <button mat-raised-button color="warn" (click)="DeleteCourse(c.id!)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button color="accent" (click)="EditCourse(c)">
          <mat-icon>edit</mat-icon>
        </button>
        } @else if (role == 'student') {
        <button mat-raised-button color="primary" (click)="Enroll(c.id!)">
          Enroll
        </button>
        }
        <button mat-raised-button color="primary" (click)="viewLessons(c.id!)">
          <mat-icon>visibility</mat-icon>
        </button>
      </div>
    </app-course>

    } @empty {

    <div>No users found</div>
    }
    <button mat-raised-button color="primary" (click)="AddCourse()">
      add course
    </button>
  </div>
  <div class="course-details">
    <router-outlet></router-outlet>
  </div>
</div>

@if(isAddCourse ||isEditCourse ) {
<div class="overlay">
  <app-course-form
    [course]="selectedCourse"
    (closeForm)="closeForm()"
    [isEdit]="isEditCourse"
    [teacherId]="userId"
  >
  </app-course-form>
</div>
}
